## Benford's Law Measure Application

This part is to use the Benford's Law to annalyse whether the transaction data are fraud of each merchants or cards. We use the ratio to analyse the abnormality. Besides, we can use chi-square test to analyse it more accurately.

In [1]:
import pandas as pd
df = pd.read_excel('card transactions.xlsx')

In [2]:
df=df[df['Transtype']=='P']

In [3]:
df=df[df['Merch description'].str.contains('FEDEX')==0]

In [4]:
# df['First']=df['Amount'].astype(str).str[0].astype(int)
# extract the first digit with the Regex
df['First'] = df['Amount'].astype('str').str.extract(r'([1-9])').astype(int)

In [5]:
import numpy as np
df['FirstTwo'] = np.where((df['First']==1) |(df['First']==2), 'Y', 'N')

In [6]:
df.head()

,Recnum,Cardnum,Date,Merchnum,Merch description,Merch state,Merch zip,Transtype,Amount,Fraud,First,FirstTwo
1,2,5142183973,2010-01-01,61003026333,SERVICE MERCHANDISE #81,MA,1803.0,P,31.42,0,3,N
2,3,5142131721,2010-01-01,4503082993600,OFFICE DEPOT #191,MD,20706.0,P,178.49,0,1,Y
7,8,5142191182,2010-01-01,6098208200062,MIAMI COMPUTER SUPPLY,OH,45429.0,P,230.32,0,2,Y
8,9,5142258629,2010-01-01,602608969534,FISHER SCI ATL,GA,30091.0,P,62.11,0,6,N
13,14,5142124791,2010-01-01,5725000466504,CDW*GOVERNMENT INC,IL,60061.0,P,106.89,0,1,Y

In [7]:
#Calculate the Large/Small Ratio of the overall data. (The number of the Amount data start with 3-9 divided by 1-2)
all_Merchnum_count=df[['FirstTwo','Amount']].groupby('FirstTwo').agg(['count']).reset_index()

In [8]:
all_Merchnum_count

  FirstTwo Amount
            count
0        N  43099
1        Y  41524

In [9]:
ratio=all_Merchnum_count.loc[0][1]/all_Merchnum_count.loc[1][1]

In [10]:
ratio #Large/Small Ratio

1.0379298718813217

In [11]:
df.head()

,Recnum,Cardnum,Date,Merchnum,Merch description,Merch state,Merch zip,Transtype,Amount,Fraud,First,FirstTwo
1,2,5142183973,2010-01-01,61003026333,SERVICE MERCHANDISE #81,MA,1803.0,P,31.42,0,3,N
2,3,5142131721,2010-01-01,4503082993600,OFFICE DEPOT #191,MD,20706.0,P,178.49,0,1,Y
7,8,5142191182,2010-01-01,6098208200062,MIAMI COMPUTER SUPPLY,OH,45429.0,P,230.32,0,2,Y
8,9,5142258629,2010-01-01,602608969534,FISHER SCI ATL,GA,30091.0,P,62.11,0,6,N
13,14,5142124791,2010-01-01,5725000466504,CDW*GOVERNMENT INC,IL,60061.0,P,106.89,0,1,Y

In [12]:
def bflaw(df,colname):
    #Define a function to analyse the abnormality of the first 40 transaction amount
    Cardnum_count=df.groupby([colname,'FirstTwo']).agg({'Amount':'count'})
    idx=pd.MultiIndex.from_product([Cardnum_count.index.levels[0], ['Y', 'N']])
    Cardnum_count=Cardnum_count.reindex(idx, fill_value=0).reset_index()
    Cardnum_count['Amount']=np.where(Cardnum_count['Amount']==0, 1,Cardnum_count['Amount'])
    Cardnum_count_tot=df.groupby([colname]).agg({'Amount':'count'}).reset_index()
    Cardnum_all=pd.merge(Cardnum_count, Cardnum_count_tot, left_on='level_0', right_on=colname,how='left')
    Cardnum_all['t']=(Cardnum_all['Amount_y']-15)/3
    low=Cardnum_all[Cardnum_all['level_1']=='Y']
    high=Cardnum_all[Cardnum_all['level_1']=='N']
    total=pd.merge(low, high, on='level_0',how='inner')
    #We apply this equation to do the smoothing to avoid wrongly 
    total['R']=1+(ratio*(total['Amount_x_x']/total['Amount_x_y']-1)/(1+np.exp(-total['t_x'])))
    total['1/R']=1/total['R']
    total['Rmax']=total[['R','1/R']].max(axis=1)
    totalCard=total.sort_values(by='Rmax',ascending=False)[[colname+'_x','Rmax']].head(40)
    return totalCard

In [13]:
#By Merchnum
bflaw(df,'Merchnum')

          Merchnum_x         Rmax
10740  8916500620062  2646.464746
5215   5600900060992    74.299334
9820   8078200641472    61.199914
2348   3523000628102    35.190959
12891   993620810220    32.943515
4980        55158027    27.636605
2603   3910694900001    25.289442
10662     8889817332    24.050098
10516      881145544    23.740218
8022   6844000608436    22.350921
5297   5803301245621    19.923544
5597    600000201284    19.837169
11718    92891948003    19.050919
2190   3433000017263    17.952827
10187   817004638227    16.714628
1292   2376700063599    15.480923
13067   999960264339    12.865116
12890   993620559229    12.080947
4436   5000006000095    11.379299
4006    467615916337    10.327287
6511   6070095870009     8.883331
8373   6880098906148     8.762433
930    1960400470068     7.747067
10301  8500035600006     6.875705
2070       310992500     6.738865
5884   6020094951312     6.555724
5700   6000330043193     6.199154
1581   2644006060269     6.199154
5992    602608039370     6.035004
10161  8124906575841     5.973230
11956   938909877224     5.890719
12895   993620816222     5.783211
8568   6899688920126     5.457822
11562   911890629226     5.259257
5810   6005300190068     5.225333
4846   5206789601613     4.873222
5441   5863604000604     4.762325
9970   8098605736374     4.708344
11934   938901522229     4.502704
10949  8999000079657     4.459806

In [14]:
df[df['Merchnum']=='8916500620062']# pretty abnormal records with repetitive amounts and no amount starts with 1 and 2.

,Recnum,Cardnum,Date,Merchnum,Merch description,Merch state,Merch zip,Transtype,Amount,Fraud,First,FirstTwo
6163,6164,5142194617,2010-01-28,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,650.0,0,6,N
10453,10454,5142194617,2010-02-13,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,480.0,0,4,N
12387,12388,5142194617,2010-02-20,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,650.0,0,6,N
15809,15810,5142194617,2010-03-05,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,650.0,0,6,N
19384,19385,5142194617,2010-03-16,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,480.0,0,4,N
21311,21312,5142194617,2010-03-23,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,650.0,0,6,N
25890,25891,5142194617,2010-04-08,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,650.0,0,6,N
26354,26355,5142194617,2010-04-11,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,480.0,0,4,N
29729,29730,5142194617,2010-04-24,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,650.0,0,6,N
34722,34723,5142194617,2010-05-10,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,650.0,0,6,N
35308,35309,5142194617,2010-05-12,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,480.0,0,4,N
39417,39418,5142194617,2010-05-25,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,650.0,0,6,N
43561,43562,5142194617,2010-06-09,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,650.0,0,6,N
43665,43666,5142194617,2010-06-10,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,480.0,0,4,N
48309,48310,5142194617,2010-06-27,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,650.0,0,6,N
50493,50494,5142194617,2010-07-05,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,480.0,0,4,N
53704,53705,5142194617,2010-07-17,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,650.0,0,6,N
58744,58745,5142194617,2010-08-01,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,480.0,0,4,N
60173,60174,5142194617,2010-08-05,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,650.0,0,6,N
64906,64907,5142194617,2010-08-19,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,650.0,0,6,N
65030,65031,5142194617,2010-08-20,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,480.0,0,4,N
69848,69849,5142194617,2010-09-03,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,650.0,0,6,N
75823,75824,5142194617,2010-09-21,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,480.0,0,4,N
76457,76458,5142194617,2010-09-22,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,650.0,0,6,N
80247,80248,5142194617,2010-10-07,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,650.0,0,6,N
84035,84036,5142194617,2010-10-29,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,480.0,0,4,N
84182,84183,5142194617,2010-10-29,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,650.0,0,6,N
88502,88503,5142194617,2010-11-21,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,650.0,0,6,N
89577,89578,5142194617,2010-11-28,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,480.0,0,4,N
94507,94508,5142194617,2010-12-18,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,650.0,0,6,N
96609,96610,5142194617,2010-12-30,8916500620062,EZPASS PREPAID TOLL,NY,10305.0,P,480.0,0,4,N

In [15]:
#By Cardnum
bflaw(df,'Cardnum')

       Cardnum_x       Rmax
725   5142197563  12.778523
1177  5142253356  12.624814
1541  5142299705   8.512889
697   5142194617   8.351125
284   5142144931   5.868111
1061  5142239140   4.559438
648   5142189113   4.409898
942   5142224699   3.917470
1639  5142847398   3.866151
680   5142192606   3.854307
304   5142147267   3.809183
787   5142204384   3.787034
1327  5142273608   3.677064
1418  5142284940   3.548154
1084  5142242241   3.475901
950   5142225308   3.323346
59    5142116864   3.306511
1126  5142246929   3.241929
1060  5142239106   3.064274
62    5142117315   2.963138
317   5142148915   2.797419
715   5142196860   2.785976
1074  5142240823   2.771587
122   5142123929   2.767972
1313  5142271880   2.751351
943   5142224769   2.746070
1236  5142260984   2.685351
826   5142209798   2.685180
1146  5142249750   2.685179
10    5142111125   2.650818
1618  5142308889   2.584500
695   5142194228   2.584500
669   5142191416   2.574851
146   5142126921   2.566573
708   5142195887   2.556895
846   5142212038   2.556895
662   5142190439   2.519662
948   5142225184   2.509010
1209  5142257356   2.503209
462   5142166343   2.484979